In [ ]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import seaborn as sns
%matplotlib inline
import plotly.graph_objects as go
import plotly.express as px

In [ ]:
df = pd.read_csv('data/DS_Jobs.csv')
df.head()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          660 non-null    object
 1   Salary Estimate    660 non-null    object
 2   Job Description    660 non-null    object
 3   Rating             660 non-null    float64
 4   Company Name       660 non-null    object
 5   Location           660 non-null    object
 6   Headquarters       660 non-null    object
 7   Size               660 non-null    object
 8   Type of ownership  660 non-null    object
 9   Industry           660 non-null    object
 10  Sector             660 non-null    object
 11  Revenue            660 non-null    object
 12  min_salary         660 non-null    int64
 13  max_salary         660 non-null    int64
 14  avg_salary         660 non-null    int64
 15  job_state          660 non-null    object
 16  same_state         660 non-null    int64
 17  company_age        660 non-null    int64
 18  python             660 non-null    int64
 19  excel              660 non-null    int64
 20  hadoop             660 non-null    int64
 21  spark              660 non-null    int64
 22  aws                660 non-null    int64
 23  tableau            660 non-null    int64
 24  big_data           660 non-null    int64
 25  job_simp           660 non-null    object
 26  seniority          660 non-null    object
dtypes: float64(1), int64(12), object(14)
memory usage: 139.3+ KB

In [ ]:
df.job_state.value_counts()

In [ ]:
fig, ax = plt.subplots(figsize=(10,10)) 
chart = sns.barplot(x=df.job_state.value_counts().index, y=df.job_state.value_counts())
_=chart.set_xticklabels(chart.get_xticklabels(), rotation=45)

In [ ]:
plt.savefig('./images/Job Locations simple bar chart.png')

In [ ]:
import chart_studio

chart_studio.tools.set_credentials_file(username='brittanyaylia', api_key='lh3Z7Svybmx1eDPXmqEc')

import chart_studio.plotly as py
import chart_studio.tools as tls

In [ ]:
df_1 = pd.read_csv('data/locations_ds.csv')
df_1.head()

In [ ]:
px.set_mapbox_access_token(open(".mapbox_token").read())

In [ ]:
fig = px.scatter_mapbox(
    df_1, lat="Lat", lon="Long_",
    color="Postings",
    size="Postings",
    color_continuous_scale=px.colors.sequential.Jet,
    size_max=40,
    zoom=3, 
    center={"lat": 37.0902, "lon": -95.7129},              
    hover_name='Location'
)

fig.update_layout(
    title= 'Data Science Job Posting Locations in 2020')

fig.show()

In [ ]:
py.plot(fig, filename = 'data science job map', auto_open=True)